<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.somesh.mypay">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MobileActivity"
            android:label="Mobile" />
        <activity
            android:name=".DthActivity"
            android:label="DTH" />
        <activity
            android:name=".LandlineActivity"
            android:label="LandLine" />
        <activity
            android:name=".DatacardActivity"
            android:label="DataCard" />
        <activity android:name=".ProceedActivity"
            android:label="Payment Gateway"></activity>
    </application>

</manifest>